

* {
	text-align: center;
}

@font-face {
	font-family: "CloudyBright";
	src: url("../Fuentes/CloudyBright.otf") format("opentype");
}

body {
	font-family: "CloudyBright";
	background: #F4D03F;	
}

h1 {
	font-size: 60px;
	margin-top: 60px;
	color: red;
}

img {
	max-width: 40%;
	border-radius: 1rem;
}

h2 {
	font-size: 40px;
}

span {
	color: red;
}

a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}