<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LatinLyrics Toca Toca</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Img_5.jpg') }}" type="image/x-icon">
</head>
<body>
	<header id="inicio">
		<img src="{{ url_for('static', filename='IMG/Img_1.jpg') }}" id="img1">
		<img src="{{ url_for('static', filename='IMG/Img_2.jpg') }}" id="img2">
		<audio src="{{ url_for('static', filename='IMG/Toca_Toca.mp3') }}" controls loop></audio>

		<h1>LETRAS -TOCA - TOCA-<br>Fly Project</h1>
		<h2>Propósito del Lyrics:</h2>
		<p>
			Principalmente que se diviertan y puedan cantar la canción de este gran anime. Y claro que pueden saber qué significan, es decir, contribuir y facilitar a la comunidad latinoamericana.
		</p>
	</header>

	<main>
		<div id="cuerpo">
			<h2>Letras</h2>
			<h3>[Intro]</h3>

			<p>
				Oh, dices "No, no, no", yo digo "No, no, no, no"<br>
				Dices "Llévame a casa", yo digo "Dom Perignon"<br>
				Tu dices "No, no, no", yo digo "No, no, no, no"<br>
				No no no no
			</p>		
			<h3>[Estribillo]</h3>
			<p>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.<br>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.
			</p>
			<h3>Pausa instrumental</h3>
			<h3>[Verso]</h3>
			<p>
				Oh, quiero decir, llueve sobre mí para siempre.<br>
				Ríos de champagne, celebremos juntos<br>
				Oh, quiero decir, llueve sobre mí para siempre.<br>
				Ríos de champagne, celebremos juntos
			</p>		
			<h3>[Pre-Coro]</h3>
			<p>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.<br>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.<br>
				toque toque toque
			</p>		
			<h3>[Estribillo]</h3>
			<p>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.<br>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.
			</p>
			<h3>Pausa instrumental</h3>
			<p></p>			

			<h3>[Puente]</h3>
			<p>
				Veo tus ojos todos los días y todas las noches.<br>
				Y yo, quiero abrazarte, amarte hasta el fin de los tiempos.<br>
				Quédate a pasar la noche porque te quiero en mi vida<br>
				Y yo quiero amarte, nunca te haré llorar
			</p>				
			<h3>[Estribillo]</h3>
			<p>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.<br>
				Hasta la vida loca, loca, loca, loca<br>
				Te encanta la música, te toca, suena, suena.
			</p>		
			<h3>[Post-Estribillo]</h3>
			<p>
				toque toque toque<br>
				toque toque toque
			</p>
		</div>
		<div id="final">
			<h2>Te podrían interesar estos:</h2>

			<table>
				<tr>
					<th>Canción</th>
					<th>Artista</th>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Mash.jpg') }}">
						<a href="https://blingbangbangborn.onrender.com" target="_blank">Bling-Bang-Bang-Born</a>
					</td>
					<td>Creepy Nuts</td>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Mic_Drop.jpg') }}">
						<a href="https://lyricsmicdrop.onrender.com" target="_blank">Mic Drop</a>
					</td>
					<td>BTS</td>
				</tr>
				<tr>
					<td>
						<img src="{{ url_for('static', filename='IMG/Fire.jpg') }}">
						<a href="https://lyricsfire.onrender.com" target="_blank">Fire</a>
					</td>
					<td>BTS</td>
				</tr>
			</table>

			<img src="{{ url_for('static', filename='IMG/Img_3.jpg') }}" id="img3">
			<img src="{{ url_for('static', filename='IMG/Img_4.jpg') }}" id="img4">
			<img src="{{ url_for('static', filename='IMG/Img_5.jpg') }}" id="img5">
		</div>
	</main>
	
	<footer>
    	<h1>LatinLyrics</h1>

        <ul>
            <li>
            	<a href="https://github.com/Bredalis" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/GitHub.svg') }}" alt="GitHub" title="GitHub" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://www.linkedin.com/in/bredalis-gautreaux/" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/LinkedIn.svg') }}" alt="LinkedIn" title="LinkedIn" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://es.stackoverflow.com/users/293358/bredalis-gautreaux" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Stack_OverFlow.svg') }}" alt="Stack OverFlow" title="Stack OverFlow" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://huggingface.co/chat/assistants?user=Bredalis" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Hugging_Face.png') }}" alt="Hugging Face" title="Hugging Face">
            	</a>
            </li>
            <li>
            	<a href="https://x.com/Bredalis_P" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/X.svg') }}" alt="X" title="X" height="50">
            	</a>
            </li>
            <li>
            	<a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">
            		<img src="{{ url_for('static', filename='IMG/Licencia.svg') }}" alt="Licencia Pública General GNU v3.0" title="Licencia Pública General GNU v3.0" height="50">
            	</a>
            </li>
        </ul>

        <p>© 2024 LatinLyrics<br>Todos los derechos reservados</p>
    </footer>
</body>
</html>